:root { 
    --background-color: rgb(1, 1, 95);
    --container-bg-color: rgb(3, 3, 143);
    --btn-primary-color: purple;
}

html {
    background-color: var(--background-color);
    color: white;
}

